@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Parkinsans:wght@300..800&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Parkinsans", sans-serif;
    transition: ease-out 300ms;
}

body {
    background-color: hsl(70, 100%, 8%);
    color: white;
}

h1 {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 3em;
  margin-left: 3rem;
}

header {
    padding: 0 10em;
    height: fit-content;
    width: screen;
    background-color: hsl(80, 60%, 20%, 0.8);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 18px hsl(0, 0%, 0%, 0.2);
}

nav {
    font-family: "Cal Sans", sans-serif;
    font-size: 1.6em;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3em;
}

a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

#home {
    width: screen;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    overflow: hidden;
}

#gradient1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, hsl(70, 100%, 8%), transparent);
}

#gradient2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, hsl(70, 100%, 8%), transparent);
}

#img-principal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: -10;
}

#brasil-vector-img {
    position: absolute;
    height: 120vh;
    background-size: cover;
    object-fit: cover;
    top: 0%;
    right: -5%;
}

#home-content-container {
    margin-top: 6rem;
    position: relative;
    height: fit-content;
    width: 60%;
}

#home h1 {
    margin: 0;
    height: fit-content;
    font-size: 4.5rem;
    max-width: 50rem;
    color: hsl(60, 100%, 95%, 0.9);
    text-shadow: 0 2px 12px hsl(60, 100%, 60%, 0.15);
}

#home-btn-container {
    margin-top: 8rem;
    
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 4rem;

}

#home button {
    font-size: 1.4em;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 10px hsl(80, 100%, 25%, 0.4);
    color: hsl(80, 100%, 95%);
}

#destino-btn {
    background-color: hsl(80, 60%, 80%)
}

#agendar-btn {
    font-weight: 600;
    background-color: hsl(80, 70%, 30%, 0.9);
    border: 2px solid hsl(80, 100%, 95%);
}

#home button:hover {
    transform: translateY(-2px);
    background-color: hsl(80, 100%, 20%, 0.85);
    color: hsl(80, 100%, 95%);
    box-shadow: 0 4px 10px hsl(80, 100%, 30%, 0.6);
}

#destinos {
    margin: 0 20rem 4rem;
    padding-top: 4rem;
}

.destinos-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.4rem;
}

.destino-card {
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: hsl(70, 100%, 8%);
    background-color: hsl(70, 20%, 70%);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.destino-card:hover {
    transform: translatey(-6px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.35);
}

.destino-desc {
    height: 100%;
    display: flex;
    align-items: center;
}

.destino-card img {
    width: 100%;
    height: 80%;
    background-size: cover;
    object-fit: cover;
}

#sobre {
    background-image: linear-gradient(to top, hsl(80, 100%, 50%, 0.3), hsl(0, 0%, 100%));
    background-image: linear-gradient(to left, hsl(90, 100%, 10%), hsl(80, 80%, 16%, 0.8));
    padding: 4rem 16% 4rem;
    color: white;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#sobre p {
    font-size: 1.8em;
}

.paragrafo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin: 4rem 0 4rem 0;
}

#chamada-container p {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 8rem;
}

#chamada-container h2 {
    text-align: center;
    font-size: 2.4em;
}

text-gradient {
    background-image: linear-gradient(
        to right, 
        hsl(160, 100%, 60%),
        hsl(120, 100%, 60%),
        hsl(80, 100%, 60%), 
        hsl(120, 100%, 60%),
        hsl(160, 100%, 60%),
        hsl(200, 100%, 60%),
        hsl(160, 100%, 60%));
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#sobre img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 40px hsl(70, 100%, 8%, 0.8);
    cursor: pointer;
}

#img1:hover {
    transform: rotate(-3deg);
}

#img2:hover {
    transform: rotate(3deg);
}

@media screen and (max-device-width: 2000px) {
    .destinos-container {
        padding: 3rem 8rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .destino-card {
        width: 20rem;
    }

    .destino-card img {
        width: 100%;
    }
}
