@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Parkinsans:wght@300..800&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Parkinsans", sans-serif;
    transition: ease-out 0.3s;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 7rem;
}

body {
    background-color: hsl(70, 100%, 8%);
    color: white;
}

button {
    cursor: pointer;
}

h1 {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 3em;
  margin-left: 10%;
}

header {
    padding: 0 10em;
    height: fit-content;
    width: screen;
    background-color: hsl(80, 60%, 20%, 0.8);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 18px hsl(0, 0%, 0%, 0.2);
}

nav {
    font-size: 1.6em;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3em;
}

a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

#home {
    width: screen;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    overflow: hidden;
}

#gradient1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, hsl(70, 100%, 8%), transparent);
}

#gradient2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, hsl(70, 100%, 8%), transparent);
}

#img-principal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: -10;
}

#brasil-vector-img {
    position: absolute;
    z-index: 1;
    height: 120vh;
    background-size: cover;
    object-fit: cover;
    top: 0%;
    right: -5%;
}

#home-content-container {
    margin-top: 6rem;
    position: relative;
    height: fit-content;
    width: 60%;
    z-index: 10;
}

#home h1 {
    margin: 0;
    height: fit-content;
    font-size: 4.5rem;
    max-width: 50rem;
    color: hsl(60, 100%, 95%, 0.9);
    text-shadow: 0 2px 12px hsl(60, 100%, 60%, 0.15);
}

#home-action-container {
    width: 100%;
    margin-top: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

#home a {
    font-size: 1.8em;
    padding: 10px;
    position: relative;
}

#home a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-out;
    border-bottom: 2px solid greenyellow;
}

#home a:hover::after {
    width: 100%;
}

#destinos {
    padding-top: 4rem;
    margin-bottom: 8rem;
}

.destinos-container {
    margin-top: 3rem;
    padding: 0 16%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.4rem;
}

.destino-card {
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 12px hsl(0, 0%, 0%, 0.25);
}

.destino-card:hover {
    transform: translatey(-6px);
    box-shadow: 0 4px 16px hsl(0, 0%, 0%, 0.35);
}

.destino-card img {
    width: 100%;
    height: 80%;
    background-size: cover;
    object-fit: cover;
}

.destino-desc {
    color: hsl(70, 100%, 8%);
    background-color: hsl(70, 40%, 80%);
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobre {
    background-image: linear-gradient(to top, hsl(80, 100%, 50%, 0.3), hsl(0, 0%, 100%));
    background-image: linear-gradient(to left, hsl(90, 100%, 10%), hsl(80, 80%, 16%, 0.8));
    color: white;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

#sobre-container {
    padding: 0 16%;
}

#sobre p {
    font-size: 1.8em;
}

.paragrafo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin: 4rem 0 4rem 0;
}

#chamada-container p {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 8rem;
}

#chamada-container h2 {
    text-align: center;
    font-size: 2.4em;
}

text-gradient {
    background-image: linear-gradient(
        to right, 
        hsl(160, 100%, 60%),
        hsl(120, 100%, 60%),
        hsl(80, 100%, 60%), 
        hsl(120, 100%, 60%),
        hsl(160, 100%, 60%),
        hsl(200, 100%, 60%),
        hsl(160, 100%, 60%));
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#sobre img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 40px hsl(70, 100%, 8%, 0.8);
    cursor: pointer;
}

#img1:hover {
    transform: rotate(-3deg);
}

#img2:hover {
    transform: rotate(3deg);
}

#faq {
    padding-top: 4rem;
    margin-bottom: 8rem;
}

#perguntas-container {
    width: 50vw;
    margin-top: 6rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

details {
    width: 100%;
    font-size: 1.6em;
    border: 2px solid hsl(80, 100%, 50%, 0.3);
    background-color: hsl(80, 100%, 40%, 0.15);
    padding: 1.2rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

details:hover {
    background-color: hsl(80, 100%, 60%, 0.2);
}

details p {
    margin-top: 2rem;
}

summary {
    font-weight: 600;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary::after {
  transform: rotate(45deg);
}

#agendar {
    padding-top: 4rem;
    height: 70vh;
}

#agendar-content {
    margin-top: 6rem;
    justify-self: center;
    display: flex;
    width: 60vw;
    justify-content: space-between;
}

#agendar-content h1 {
    width: 70%;
    margin: 0;
}

#contatos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 2rem
}

.contato-btn {
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    background-color: hsl(80, 100%, 60%, 0.2);
    border: 1px solid hsl(80, 100%, 60%);
}

.contato-btn:hover {
    background-color: hsl(80, 100%, 60%, 0.3);
}

footer {
    background-color: black;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-device-width: 2000px) {
    .destinos-container {
        padding: 3rem 8rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .destino-card {
        width: 20rem;
    }

    .destino-card img {
        width: 100%;
    }
}
